/clean_data
/raw_data
/outputs
.Rproj.user
.Rhistory
.DS_Store
Instructions.html
code/.Rhistory
code/.DS_Store
*.html
*_files/
.Rhistory
.RData
*.rmarkdown
*.ini
/.quarto/
/code/reports/
/.secrets
*.log
*_cache/